.bodyContent{
	padding-top: 80px; 
	padding-bottom: 60px;
}
.userInfoOnHeader{
	padding-top: 10px;
}

.imgLogo{
	padding-top: 10px;
}

.navbar-brand {
	margin-left: 0px !important;
}

.userTitle{
	margin-top: 0px !important;
	margin-bottom: 10px !important;
	padding-left: 10px;
}

body {
    background-image: url('${pageContext.request.contextPath}/resources/images/background.jpg');
    background-image: url("${pageContext.request.contextPath}/resources/images/background.jpg");
}

#transactionTable{
	padding-left: 40px;
	width: 100%;
}

#accountTable{
	padding-left: 140px;
}

#advertise{
	width: 100%;
	height: 510px;
}

html, body {
	max-width: 100%;
    overflow-x: hidden;
}

/* for error message  */
.error {
	color: red;
}
