.bodyContent{
	padding-top: 60px; 
	padding-bottom: 60px;
}

body {
    background-image: url('${pageContext.request.contextPath}/resources/images/background.jpg');
    background-image: url("${pageContext.request.contextPath}/resources/images/background.jpg");
}

#transactionTable{
	padding-left: 40px;
}

#accountTable{
	padding-left: 140px;
}

#advertise{
	width: 100%;
	height: 510px;
}

html, body {
	max-width: 100%;
    overflow-x: hidden;
}