html, body {
	height: 100%;
}

.main-container {
	height: 100%;
	padding: 50px 0px;
}

.admin-sidebar {
	min-height: 100%;
	float: left;
	width: 15%;
	margin-bottom: 50px;
}

.admin-main-body {
	min-height: 100%;
	float: right;
	width: 85%;
	margin-bottom: 50px;
}

.logoImage {
	width: 100%;
	height: 100%;
	padding: 20px 20px;
}

.onlyLogoImage {
	width: 50px;
	height: 50px;
}

.navbar-brand {
	padding: 0px 5px !important;
}

.nav {
	width: 97% !important;
}

.logoutDropDown {
	float: right !important;
}

.admin-header {
	width: 100%;
	position: fixed;
	z-index: 10;
}

.admin-footer {
	width: 100%;
	position: fixed;        
	background: #333;
	padding: 10px 0;
	text-align: center;
	color: #fff;
	z-index: 10;
}

.admin-footer > h4 {
	display: inline;
}

.admin-footer {
	bottom: 0;
	height:50px;
}
