html {
	height: 100%;
}

body {
	min-height: 100%;
}

.main-container {
	min-height: 100%;
	height: 100%;
	padding: 40px 0px;
}

.admin-sidebar {
	width: 15%;
	float: left;
	background-color: cornsilk;
	height: 100%;
}

.admin-main-body {
	width:85%;
	float: right;
	background-color: aliceblue;
	padding: 0px 20px;
	height: 100%;
}

.menus {
	list-style: none;	
	margin-left: -40px;
	text-align: center;
}

.menus > li {
	line-height: 3;
}

.menus > li:hover {
	background-color: beige;
}

.admin-main-body > h4 {
    	text-align: center;
	line-height: 2;
}

.userTable {
	width: 100%;
	height: 100%;
	text-align: left;
}

.logoImage {
	width: 100%;
	padding: 30px;
}
